Checks: >
    -*,
    *optin.taint*,
    *core*,
    *performance*,
    *portability*,
    *readability*,
    *modernize*,
    *security*,
    *bugprone*,
    *concurrency*,
    *nullability*,
    *deadcode*,
    *valist*,
    *cert*c,
    *unix*,
    *openmp*,
    *misc*,
    -readability-identifier-length,
    -readability-avoid-const-params-in-decls,
    -readability-function-cognitive-complexity,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -bugprone-easily-swappable-parameters,
    -cert-err33-c,
    -misc-include-cleaner,
    -misc-no-recursion,
    bugprone-narrowing-conversions,
    bugprone-suspicious-memory-comparison,
    cert-exp42-c,
    cert-flp37-c,
    bugprone-not-null-terminated-result,
    bugprone-implicit-widening-of-multiplication-result,
    -readability-magic-numbers,
    -modernize-macro-to-enum,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-else-after-return,
    -bugprone-suspicious-missing-comma
