src/*.o
test/*.o
Makefile
Makefile.in
test/tester
src/nqiv
src/nqiv.exe
.dirstamp
.deps
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
AppDir
nqiv-x86_64.AppImage
*.gcda
*.gcno
env.sh
make_configure.sh
nqiv-*
