#Width and height of thumbnails are the same value.
#INT(1-2147483647)
set thumbnail size 256

#Set the width of the program window.
#INT(1-2147483647)
set window width 1025

#Set the height of the program window.
#INT(1-2147483647)
set window height 256
