[Desktop Entry]
Type=Application
Name=nqiv
GenericName=Image Viewer
Comment=View images with nqiv
Icon=nqiv_icon_48x48
Exec=nqiv %F
MimeType=image/gif;image/jpeg;image/jpg;image/png;image/mng;image/svg;image/svg+xml;image/svg+xml-compressed;image/svg-xml;image/tiff;image/webp;image/x-png;text/xml-svg;
Categories=Graphics;
Keywords=Viewer;
Terminal=false
